{% extends 'base.html' %}
{% block content %}

<div class="container">
  <h2> 제목 : {{contents_detail.title}}
  <h4> {{contents_detail.date}}
  <p> 내용 <br> {{contents_detail.body}}</p>
  <br><br>

  {% if user.is_authenticated %}
    <form method="POST">
      {% csrf_token %}
      댓글 :
      <input name="body" type="text" value="">
      <input class="btn btn-primary" type="submit" value="저장">
    </form>
  {% endif %}

  {% for comment in comments %}
  {{comment.body}} - {{comment.writer}} - {{comment.date}}
  <br>
  {% endfor %}
  
</div>
{% endblock %}